.logo {
    letter-spacing: 5px;
}

@media (min-width: 992px) {
    .navbar .dropdown:not(.user-dropdown):hover .dropdown-menu {
        display: block;
    }
    
    .navbar .bi-chevron-up {
        display: none;
    }

    .navbar .dropdown:hover .bi-chevron-up {
        display: inline-block;
    }

    .navbar .dropdown:hover .bi-chevron-down {
        display: none;
    }

    .down-up-space {
        margin-left: 10px;
    }
}

.navbar .dropdown-toggle::after {
    display: none !important;
}

.nav-item {
    cursor: pointer;
}

.offcanvas-start {
    width: 40% !important;
}

.nav-search {
    max-width: 220px;
}

@media (max-width: 425px) {
    .special-offer {
        font-size: 16px !important;
    }

    .offcanvas-start {
        width: 60% !important;
    }
}

.main-img {
    width: 100%;
}

.thumb-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: 2px solid #ddd;
    cursor: pointer;
}

.thumb-img.selected {
    border-color: #000;
}


.wishlist-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative;
}

.wishlist-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    background: #f7f7f7;
    color: #555;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.wishlist-img-wrapper img {
    width: 100%;
    object-fit: contain;
}

.wishlist-close:hover {
    background: #eee;
}

#addMessage {
  position: fixed;
  right: -300px;   
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 16px;
  transition: right 0.5s ease, opacity 0.5s ease;
  z-index: 9999;
  opacity: 0;
}

#addMessage.show {
  right: 20px;     
  opacity: 1;
}

.product-name{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.onluser:active {
  background-color: black !important;
  color: white !important;
}
